#home-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  min-width: 800px;
}

#home-image {
  width: 1210px;
  height: 590px;
  margin-left: 250px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}

#home-slider {
  margin-left: 1380px;
}

#home-slider img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-left: 2px;
}
