#header-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  min-width: 800px;
  width: 100%;
}

#link-container {
  display: flex;
  gap: 30px;
}
